.painel {
    width: 25%;
    flex-grow: 1;
    border: 1px solid black;
}

.quadro {
    display: flex;

    margin-left: 1%;
    margin-right: 1%;
}

.quadro h2 {
    text-align: center;
}
.quadro form > fieldset {
    border: 0;
}
.quadro input {
    width: 100%;
}

#cabeçalho {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1%;
}
#cabeçalho form {
    flex-grow: 1;
    padding: 1%;
}
#cabeçalho input {
    width: 100%;
}
